<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title><%=title %></title>
		<style>
			body{font-size:12pt; color:#006666;}
			h1{font-size:18pt; background-color:#AAFFFF;}
		</style>
	</head>

	<body>
		<div>
			<h1 id="h1"><%=title %></h1>
		</div>
		<div role="main">
			<p><%-content %></p>
		</div>
	</body>
</html>
